.designer-banner {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.card {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding: 10px;
}

.product-card .img {
    overflow: hidden;
}

.rounded-3 {
    border-radius: 30px !important;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    -ms-border-radius: 30px !important;
    -o-border-radius: 30px !important;
}

.product-img {
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
}

.product-img:hover {
    transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    -moz-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -o-transform: scale(2, 2);
}

/* small screen  */
@media (max-width: 767px) {
    .designer-banner {
        height: 200px;
    }
}

.designer-banner img {
    height: 600px;
}

.designers {
    padding: 0 20px;
}

.designers .designer-img {
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.designers .designer-name {
    color: #707070;
    padding: 20px;
}