/* start footer  */

footer {
    padding: 25px 0 0 0;
    background: #f7f7f7;
    width: 100%;
}

footer h3 {
    color: #707070;
    font-size: 20px;
}

footer .divider {
    display: block;
    width: 60px;
    height: 3px;
    background-color: #707070
}
footer ul>li{
    padding:7px 0;
}
footer ul>li>a  {
    color: inherit;
}

footer .copy-rights {
    background-color: white;
    padding: 20px;
}
footer a:hover{
    color: var(--main-color);
}
/* end footer  */